.catalog {
  padding: 111px 20px 120px;
  display: flex;
  flex-direction: column;

  @include vp-1023 {
    padding: 90px 60px 100px;
  }

  @include vp-767 {
    padding: 57px 25px 35px;
  }
}

.catalog ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  max-width: 1130px;
  margin: 0 auto;

  @include vp-1023 {
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }

  @include vp-767 {
    display: block;
  }
}

.catalog__item {
  position: relative;
  overflow: hidden;
  height: 386px;

  @include vp-767 {
    margin-bottom: 30px;
  }
}

.catalog__wrapper {
  position: relative;
  height: 100%;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, $color-tangaroa, transparent);
  }

  @include vp-1023 {
    min-width: 309px;
  }

  @include vp-767 {
    min-width: 270px;
  }
}

.catalog img {
  width: 100%;
}

.catalog__container {
  display: flex;
  flex-direction: column;
  padding: 28px 25px 35px;
  position: absolute;
  bottom: -14px;
  left: 5px;
  right: 0;

  @include vp-1023 {
    padding: 28px 35px 35px;
    bottom: -9px;
    left: 0;
  }

  @include vp-767 {
    padding: 28px 25px 35px;
    bottom: -18px;
  }
}

.catalog h2 {
  margin: 0 0 48px;
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
  align-self: center;
  text-align: center;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    margin: 0 0 30px;
    font-size: 24px;
    line-height: 36px;
  }
}

.catalog h3 {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: $color-alice-blue;
}

.catalog dl {
  display: none;
}

.catalog dt {
  margin: 12px 0 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: $color-alice-blue;
}

.catalog dd {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: $color-quartz;
}

.catalog a {
  position: absolute;
  bottom: -300%;
  width: 100%;
  padding: 9px 3px 10px;
}

.catalog__item:hover,
.catalog__item:focus-within {
  box-shadow: 0 4px 35px rgba(1, 28, 64, 0.15);

  .catalog__wrapper {
    display: none;
  }

  .catalog__container {
    position: static;
    height: 100%;
    background-color: $color-tangaroa;
  }

  h3 {
    margin: 0 0 3px;
  }

  dl {
    display: block;
    margin: 0 0 5px;
    overflow-y: auto;
  }

  a {
    position: static;
    margin-top: auto;
  }
}
