.catalog {
  padding: 111px 118px 120px;
  display: flex;
  flex-direction: column;

  @include vp-1023 {
    padding: 90px 60px 100px;
  }

  @include vp-767 {
    padding: 57px 25px 35px;
  }
}

.catalog ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;

  @include vp-1023 {
    grid-template-columns: 1fr 1fr;
  }

  @include vp-767 {
    display: block;
  }
}

.catalog__item {
  position: relative;
  overflow: hidden;

  @include vp-767 {
    margin-bottom: 30px;
  }
}

.catalog__wrapper {
  position: relative;
  height: 386px;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, $color-tangaroa, transparent);
  }

  @include vp-1023 {
    min-width: 309px;
  }

  @include vp-767 {
    min-width: 270px;
  }
}

.catalog img {
  width: 100%;
}

.catalog__container {
  display: flex;
  flex-direction: column;
  padding: 28px 25px 30px;
  position: absolute;
  top: 309px;
  left: 4px;
  right: 0;

  @include vp-1023 {
    padding: 28px 35px 30px;
    top: 304px;
    left: 0;
  }

  @include vp-767 {
    padding: 28px 25px 30px;
    top: 314px;
  }
}

.catalog h2 {
  margin: 0 0 48px;
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
  align-self: center;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    margin: 0 0 30px;
    font-size: 24px;
    line-height: 36px;
  }
}

.catalog__box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 25px;
}

.catalog h3 {
  margin: 0 0 13px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: $color-alice-blue;
}

.catalog dl {
  margin: 0;
}

.catalog dt {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: $color-alice-blue;
}

.catalog dd {
  margin: 0 0 12px;
  font-size: 14px;
  line-height: 20px;
  color: $color-quartz;
}

.catalog a {
  width: 100%;
  margin-top: auto;
  padding: 9px 10px 10px;

  @include button;
}

.catalog__item:hover,
.catalog__product-visible {
  overflow: visible;
  box-shadow: 0 4px 35px rgba(1, 28, 64, 0.15);

  .catalog__container {
    top: 0;
    left: 0;
    min-height: 386px;
    z-index: 1;
    background-color: $color-tangaroa;
  }

  .catalog__box {
    margin-top: 0;
  }
}
