.description {
  padding: 120px 103px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;

  @include vp-1023 {
    padding: 91px 45px 100px;
    gap: 30px;
    align-items: flex-start;
  }

  @include vp-767 {
    display: block;
    padding: 56px 15px 65px;
  }
}

.description h2 {
  margin: 0 0 25px;
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;

  @include vp-1023 {
    margin: 0 0 16px;
    font-size: 26px;
    line-height: 36px;
  }

  @include vp-767 {
    margin: 0 0 13px;
    font-size: 24px;
    line-height: 34px;
  }
}

.description p {
  margin: 0 0 10px;

  @include vp-1023 {
    margin: 0 0 35px;
  }
}

.description br {
  @include vp-767 {
    display: none;
  }
}

.description__container {
  position: relative;
  max-width: 560px;
  height: 301px;
  overflow: hidden;

  @include vp-1023 {
    margin-top: 9px;
    max-width: 324px;
    height: 264px;
  }

  @include vp-767 {
    max-width: 290px;
    height: 186px;
  }
}

.description img {
  position: absolute;
  top: -37px;
  left: -102px;
  max-width: none;

  @include vp-1023 {
    top: 0;
    left: -180px;
    height: 100%;
    object-fit: contain;
  }

  @include vp-767 {
    left: -198px;
  }
}
